################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Poi/Poi.Id/Poi.Id.API/wwwroot/uploads
